<p>
  Añadir comentario:
</p>
<p>
  <form method="POST" action="/quizes/<%= quizId %>/comments">
    <input type="text" id="comentario" name="comment[texto]" value="">
    <input class="button" type="submit" value="Guardar">
  </form>
</p>
