<label for="pregunta" class="rem">Pregunta:</label>
<input type="text" id="pregunta" name="quiz[pregunta]" value="<%= quiz.pregunta %>"
<br><br>
<label for="respuesta" class="rem">Respuesta:</label>
<input type="text" id="respuesta" name="quiz[respuesta]" value="<%= quiz.respuesta %>"
<br><br>
<a class="button" href="/quizes">Cancelar</a>
<input class="button" type="submit" value="Guardar">
