<form method="GET" action="/quizes">
  <p>
    Búsqueda de preguntas:
  </p>
  <input type="text" name="busqueda" value="Palabras a buscar"/>
  <input class="button" type="submit" value="Buscar"/>
</form>
<p>
  <table>
    <% var i; for(i = 0; i < quizes.length; i++){ %>
      <tr>
        <td>
          <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
        </td>
        <td>
          <a class="button" href="/quizes/<%= quizes[i].id %>/edit">Editar</a>
        </td>
      </tr>
    <% } %>
  </table>
</p>
<a class="button" href="/quizes/new">Crear pregunta</a>
